{% if(offer_heading_text) %} <li><a href="#tab-offer_heading_text1" data-toggle="tab">{{ offer_heading_text }}</a></li> {% endif %}
</ul>

<div class="tab-content">
{% if(offer_heading_text) %} <div class="tab-pane" id="tab-offer_heading_text1">{{ offer_content }}</div> {% endif %}


